<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Layout de Sitio Web con CSS GRID</title>
		{% load static %}
		<link rel="stylesheet" href="{% static 'css/grid_style_book2.css' %}">
        <link rel="stylesheet" href="{% static 'css/style_book.css' %}">        
        <link href="https://fonts.googleapis.com/css2?family=Roboto" rel="stylesheet">

	</head>
	<body>
		<div class="contenedor">
			<header class="header">
				<h1>Add a Book {{request.session.first_name}}!</h1>
            	<p><a href="/book/book" class='btn'>Home</a> | <a href="/logout" class='btn-out'>Logout</a></p>  
			</header>

			<main class="contenido">
				<h2>Add a New Book Title and a Review:</h2>
				<form action="/books/add" method="POST">
					{%csrf_token%}
					<label for="">Book Title:</label>
					<input type="text" name="title" id=""><br><br>
					<label for="">Author:</label><br><br>
					<div>
						<label for="">Choose from the list:</label>
						<select name="author">
						<option>Choose an Author</option>
						{%for author in all_authors%}
						<option>{{author.author}}</option>
						{%endfor%}
					</select><br><br>
					<label for="">Or add a new author:</label>
					<input type="text" name="new_author">
					</div><br><br>
					<label for="">Review:</label><br>
					<textarea name="review" id="" cols="49" rows="5"></textarea><br><br>
					<label for="">Rating:</label>
					<select name="rating" id="">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
					</select> stars <br>
					<button class='btn'>Add Book and Review</button>
				</form>
			</main>

			<footer class="footer">
				Coding Dojo - Latam
			</footer>
		</div>
	</body>
</html>